.container-productos {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 2rem;
    flex-wrap: wrap;
    overflow-x: hidden;
}