.item-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.item-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.item-card .item-info {
    margin-top: 1rem;
}

.item-card h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.item-card p {
    font-size: 1rem;
    color: #555;
}

.item-card button {
    margin-top: 1rem;
    padding: 10px;
    background-color: #444444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.item-card button:hover {
    background-color: #585858;
}